# ──────────────── PostgreSQL Database Configuration ────────────────
# Name of the PostgreSQL database to connect to
POSTGRES_DB=postgres-django-store
# Port on which the PostgreSQL server is listening
POSTGRES_DB_PORT=5432
# Username for authenticating with PostgreSQL
POSTGRES_USER=admin
# Password for the PostgreSQL user
POSTGRES_PASSWORD=password123
# Hostname or Docker service name of the PostgreSQL container
POSTGRES_HOST=db  #localhost


DATASETS_DIR=/usr/src/datasets

# Used "false" in production
DJANGO_DEBUG=true

# Admin Configuration
ADMIN_USERNAME = admin
ADMIN_PASSWORD = admin_pass123
ADMIN_EMAIL = admin@exemple.com

# OAuth 2.0 Credentials
GOOGLE_CLIENT_ID=<your_google_client_id>
GOOGLE_CLIENT_SECRET=<your_google_client_secret>