
{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{% if form.instance.slug %}Delete product{% endif %}{% endblock %}

{% block extra_css %}
{% endblock %}


{% block body_content %}
    <div class="container">
        <h1 class="my-4">Are you sure you want to delete the {{ product.product_display_name }}</h1>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash"></i> Delete
                </button>
                <a href="{% url 'catalog:product_detail' product.slug %}" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
        </form>
    </div>

{% endblock %}


{% block extra_js %}
{% endblock %}