{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block body_content %}

    <main class="account-page-wrapper">
        <div class="account-container">
            <div class="account-form-container">
                <h1 class="account-form-title">Change Password</h1>

                {% if messages %}
                    <ul class="form-messages">
                        {% for message in messages %}
                            <li class="form-message form-message--{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form class="form--stacked" method="post" action="{% url 'accounts:change_password' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="form-errors">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="checkout-form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="field-error">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="button button--primary button--full-width">Change Password</button>
                </form>

                <p class="account-form-link">
                    <a href="{% url 'accounts:update_account' %}">Back to Account</a>
                </p>
            </div>
        </div>
    </main>

{% endblock %}
