{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Forgot password{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block body_content %}

    <main class="auth-page-wrapper">
        <div class="auth-background">
            <img src="{% static 'img/background/pattern.svg' %}" alt="Background pattern">
        </div>
        <div class="auth-form-container">
            <div class="auth-container auth-container--forgot-password">
                <div class="form--stacked">
                    <div class="Legend">
                        <h1 class="auth-title">Reset Password</h1>
                        <p class="auth-subtitle">Enter your email address and we'll send you a link to reset your password.</p>
                    </div>

                    <form class="auth-form form--stacked" method="post" action="{% url 'accounts:forgot-password' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="form-errors">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>

                    <div class="ButtonGroup ButtonGroup--center">
                        <a href="{% url 'accounts:login' %}" class="button button--cancel">Cancel</a>
                        <button type="submit" class="button button--primary">Send reset link</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
