{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/toast.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}


{% block body_content %}

    <!-- Main Content -->
    <main class="auth-page-wrapper">
        <div class="auth-background">
            <img src="{% static 'img/background/pattern.svg' %}" alt="Background pattern">
        </div>
        <div class="auth-form-container">
            <div class="auth-container auth-container--login">
                <div class="Legend">
                    <h1 class="auth-title">Sign In</h1>
                </div>

                <form class="auth-form" id="login-form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>

                    <div class="ButtonGroup">
                        <button type="submit" class="button button--primary">Sign In</button>
                    </div>

                    <div class="TextLink">
                        <a href="{% url 'accounts:forgot-password' %}">Forgot password?</a>
                    </div>
                </form>

                <p class="auth-switch">Don’t have an account? <a href="{% url 'accounts:register' %}">Sign up</a></p>
            </div>
        </div>
    </main>

{% endblock %}