{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Password reset complete{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block body_content %}

    <main class="auth-page-wrapper">
        <div class="auth-background">
            <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
        </div>
        <div class="auth-form-container">
            <div class="auth-container auth-container--forgot-password">
                <div class="form--stacked">
                    <div class="Legend">
                        <h1 class="auth-title">Password reset complete</h1>
                        <p class="auth-subtitle">Your password has been set. You can now sign in with your new password.</p>
                    </div>

                    <div class="ButtonGroup ButtonGroup--center">
                        <a href="{% url 'accounts:login' %}" class="button button--primary">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
