{% load static %}

<!-- Header -->
<header>
    <div class="header-container">
        <a href="{% url 'catalog:home' %}" class="header__logo">
            <img src="{% static 'img/logo.svg' %}" alt="Hop & Barley Logo">
            <p class="logo-text">Django Shop</p>
        </a>

        <nav class="header__nav">
            <ul>
                <li><a href="{% url 'catalog:product_list' %}">Catalog</a></li>

                <!-- Category drop-down menu -->
                {% if nav_categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                            {% for master in nav_categories %}
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="{{ master.get_absolute_url }}">
                                        {{ master.name }}
                                    </a>

                                    {% if master.sub_categories.all %}
                                        <ul class="dropdown-menu">
                                            {% for sub in master.sub_categories.all %}
                                                <li class="dropend">
                                                    <a class="dropdown-item dropdown-toggle"
                                                       href="{{ sub.get_absolute_url }}">
                                                        {{ sub.name }}
                                                    </a>

                                                    {% if sub.article_types.all %}
                                                        <ul class="dropdown-menu">
                                                            {% for atype in sub.article_types.all %}
                                                                <li>
                                                                    <a class="dropdown-item"
                                                                       href="{{ atype.get_absolute_url }}">
                                                                        {{ atype.name }}
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Block for search -->
        <form method="get" action="{% url 'catalog:product_list' %}" class="search-input-wrapper">
            <input
                    type="text"
                    name="q"
                    placeholder="Search products..."
                    class="search-input"
                    value="{{ request.GET.q|default:'' }}"
            >
            <button type="submit" class="search-button" aria-label="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <!-- Block for unauthorized user -->
        <div class="header__auth-buttons" id="auth-guest">
            <a href="{% url 'accounts:login' %}" class="button button--secondary">Sign in</a>
            <a href="{% url 'accounts:register' %}" class="button button--primary">Register</a>
            <a href="{% url 'accounts:order_history' %}" class="user-icon" aria-label="My Account">
                <img src="{% static 'img/icons/User_alt.svg' %}" alt="User Account">
            </a>
            <a href="{% url 'order:cart' %}" class="cart-icon" aria-label="Shopping Cart">
                <img src="{% static 'img/icons/Shopping_bag.svg' %}" alt="Shopping Cart">
            </a>
        </div>

{#        <!-- Block for authorized user -->#}
{#        <div class="header__user-actions" id="auth-user">#}
{#            <a href="{% url 'accounts:logout' %}" class="button button--secondary">Logout</a>#}
{#            <a href="{% url 'accounts:order_history' %}" class="user-icon" aria-label="My Account">#}
{#                <img src="{% static 'img/icons/User_alt.svg' %}" alt="User Account">#}
{#            </a>#}
{#        </div>#}
    </div>
</header>
