<div class="search-sort-bar__group">
  <label for="perPageSelect" class="search-sort-bar__label">Per page:</label>
  <select class="search-sort-bar__select search-sort-bar__select--compact" id="perPageSelect" data-filter-query-string="{{ filter_query_string }}">
    <option value="12" {% if current_per_page == '12' %}selected{% endif %}>12</option>
    <option value="16" {% if current_per_page == '16' %}selected{% endif %}>16</option>
    <option value="20" {% if current_per_page == '20' %}selected{% endif %}>20</option>
    <option value="24" {% if current_per_page == '24' or not current_per_page %}selected{% endif %}>24</option>
  </select>
</div>

